<div class="course-card" *ngIf="course" [ngClass]="cardClasses()">
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ (index || "") + " " + course.description }}
  </div>
  <img
    width="300"
    alt="Angular Logo"
    [src]="course.iconUrl"
    *ngIf="course.iconUrl; else noImage"
  />
  <!-- Content Projection with ng-content START -->
  <ng-content select=".course-number"></ng-content>
  <!-- Content Projection with ng-content END -->
  <ng-template #noImage>
    <p>No image is available</p>
  </ng-template>

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <input #descriptionInput class="course-description" [value]="course.description" type="text" (keyup)="onChangeDescription(descriptionInput.value)"/>
  <ng-container [ngSwitch]="course.category?.toLowerCase()">
    <div class="category" *ngSwitchCase="'beginner'">Beginner</div>
    <div class="category" *ngSwitchCase="'intermediate'">Intermediate</div>
    <div class="category" *ngSwitchCase="'advanced'">Advanced</div>
    <div class="category" *ngSwitchDefault>All levels</div>
  </ng-container>
  <button (click)="viewCourse(course)">View Course</button>
</div>
